<body>
   <div class="wrapper">
     <div class="title">
       Login Form
     </div>
     <form (ngSubmit)="login()" [formGroup]="loginForm">
       <div class="field">
         <input type="text" required name="username" id="username" formControlName="username">
         <label>Username</label>
       </div>
       <div class="field">
         <input type="password" required name="password" formControlName="password">
         <label>Password</label>
       </div>
       <div class="field">
         <input type="submit">
       </div>
       <div class="signup-link">
         Not a member? <a routerLink="/signup" style="color: #321e1e;">Signup now</a>
       </div>
     </form>
   </div>
</body>