<body>
    <div class="wrapper">
       <div class="title">
          Sign Up Form
       </div>
       <form [formGroup]="loginForm" (ngSubmit)="signup()">
          <div class="field">
             <input type="text" name="username" id="username" formControlName="username" required>
             <label>User Name</label>
          </div>
          <div class="field">
             <input type="password" name="password" id="password" formControlName="password" required>
             <label>Password</label>
          </div>
          <div class="field">
            <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required>
            <label>Confirm Password</label>
         </div>
          <div class="field">
             <input type="submit" value="signin">
          </div>
       </form>
    </div>
 </body>
