<app-navigation-bar></app-navigation-bar>

<div class="buttons" style="width: 100%;margin-bottom: 15px; display: flex; align-items: center; justify-content: center; margin-top: 10px; color: #321e1e;">
  <button *ngIf="timer === 0" (click)="startTimer()">Start</button>
  <div class="timer-box" *ngIf="timer > 0">
    {{ timer }} seconds
  </div>
</div>


<div class="sudoku-container" *ngIf="timer <= 0">
  <div class="sudoku-board">
    <div class="row" *ngFor="let row of sudokuBoard; let i = index">
      <div class="cell" *ngFor="let cell of row; let j = index" (click)="onCellChange(i, j)">
        <div><input type="text" ></div>
      </div>
    </div>
  </div>
  <div class="buttons" *ngIf="timer > 0">
    <button *ngFor="let number of numbers"
            (click)="selectNumber(number)"
            [style.backgroundColor]="selectedNumber === number ? '#00e6e6' : '#321e1e'"></button>
    <button (click)="submitBoard()">Submit Board</button>
  </div>
</div>






<div class="sudoku-container" *ngIf="timer > 0">
  <div class="sudoku-board">
    <div class="row" *ngFor="let row of sudokuBoard; let i = index">
      <div class="cell" *ngFor="let cell of row; let j = index" (click)="onCellChange(i, j)">
        <div *ngIf="timer > 0"><input type="text" 
          [ngClass]="{ 'highlighted': cell.highlighted }"
               [(ngModel)]="cell.value"
               [style.color]="cell.editable ? '#321e1e' : '#116d6e'"
               [placeholder]="cell.value !== null ? cell.value : ''"
               [readonly]="!cell.editable"
               ></div>
               
      </div>
    </div>
  </div>
  <div class="buttons" *ngIf="timer > 0">
    <button *ngFor="let number of numbers" (click)="selectNumber(number)"
                [style.backgroundColor]="selectedNumber === number ? '#4e3636' : '#321e1e'"
                [style.transform]="selectedNumber===number ? 'scaleY(110%)': ''"
                [disabled]="isNumberButtonDisabled(number)">{{ number }}</button>
                <button (click)="undoNumber()"
                >Undo</button>
                <button (click)="toggleEraseMode()"
                [style.transform]="this.eraseMode==true ? 'scaleY(110%)': ''"
                [style.bacgroundColor]="this.eraseMode==true ? '#4e3636' : ''"
                >Erase</button>
    <button (click)="submitBoard()">Submit Board</button>
  </div>
  <h3>Difficulty: {{difficulty}}</h3>
</div>
<app-leaderboard ></app-leaderboard>






